@import 'bourbon/bourbon'
@import 'mixins'

// ##################################
// ### table like
// ##################################
.table-like
  display: table

  .table-row 
    display: table-row
    padding: 0

  .table-cell
    display: table-cell
    padding: 1em

// ##################################
// ### text styles
// ##################################
.text-primary
  color: $primary-color

.text-success
  color: $success-color

.text-danger
  color: $danger-color

.text-medium
  color: $medium-color

.text-well
  color: $well-color

.text-rare
  color: $rare-color

.text-bold
  font-weight: bold


// ##################################
// ### backgrounds styles
// ##################################
.bg-primary
  +backgroundColorClass($primary-color, #FFF)

.bg-success
  +backgroundColorClass($success-color, #FFF)

.bg-danger
  +backgroundColorClass($danger-color, #FFF)

.bg-medium
  +backgroundColorClass($medium-color, #333)

.bg-well
  +backgroundColorClass($well-color, #FFF)

.bg-rare
  +backgroundColorClass($rare-color, #333)

// ##################################
// ### buttons styles
// ##################################
button, .btn
  +buttonAndLabelMargins
  +button($primary-color, #FFF)
  +hoverButton($primary-color, #FFF)
  +defaultShadow
  @media (max-width : 480px)
    width: 100%
    display: block
    text-align: center

button[disabled], .btn-disabled
  @extend .btn
  +button($rare-color, $medium-color)
  cursor: not-allowed
  &:hover, &:active
    background-color: $rare-color
    color: $medium-color

.btn-success
  @extend .btn
  +buttonColors($success-color, #FFF)
  +hoverButton($success-color, #FFF)

.btn-danger
  @extend .btn
  +buttonColors($danger-color, #FFF)
  +hoverButton($danger-color, #FFF)

.btn-muted
  @extend .btn
  +buttonColors($rare-color, $well-color)
  +hoverButton($rare-color, $well-color)

.btn-flat
  @extend .btn
  +buttonColors(rgba($well-color, 0.03), $well-color)
  +hoverButton(rgba($well-color, 0.1), $well-color)

  &.primary-color
    color: $primary-color
    +hoverButton(rgba($primary-color, 0.1), $primary-color)

  &.success-color
    color: $success-color
    +hoverButton(rgba($success-color, 0.1), $success-color)

  &.danger-color
    color: $danger-color
    +hoverButton(rgba($danger-color, 0.1), $danger-color)