@import 'bourbon/bourbon'

// ##################################
// ### background mixin
// ##################################

@mixin backgroundColorClass($bgColor, $textColor)
  background-color: $bgColor
  color: $textColor
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p,
  & small
    color: $textColor