// ##################################
// ### default configuration
// ##################################
$default-font: 'Roboto','Helvetica Neue',sans-serif
$text-size: 16px

// ##################################
// ### background e constrast colors
// ##################################

// primary colors
$primary-color: #3CC2EC
$primary-color-pressed: #35AED3
$primary-color-disabled: #F2F2F2

$success-color: #60DBA2
$danger-color: #FF584C

// ##################################
// ### other colors
// ##################################
$well-color: #333333
$medium-color: #B2B2B2
$rare-color: #E5E5E5
$modal-bg: #EEEEEE

// ##################################
// ### default font colors
// ##################################
$text-color: #6D6D6D
$title-color: #222222