// ##################################
// ### inputs styles
// ##################################
input
  +gradient
  padding: 0.5em 1em
  margin: 0
  border-top: 0
  border-left: 0
  border-right: 0
  outline-width: 0
  outline-offset: 0
  border-bottom-width: 2px solid
  border-bottom-style: solid
  border-bottom-color: rgba($medium-color, 0.8)
  font-weight: 300
  @media (max-width : 480px)
    width: 100%
    margin: 1em 0
    display: block
    text-align: left

  &:hover
    border-bottom-color: $medium-color

  &:focus
    border-bottom-color: $primary-color
  